<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        h1
        {
            padding-top: 50px;
            font-size: 50px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bolder;
            font-style: inherit;
        }
        body
        {
            background-size: cover;
            background-color: black;
        }
    </style>
</head>
<body>
    <br/>
    <br/>
    <br/>
    <center><img src="https://webhostingmedia.net/wp-content/uploads/2018/01/http-error-404-not-found.png"/></center>
</body>
</html>